<%- include ("partials/header") %>
<%- include ("partials/sidenav") %>

<section class="content_right">
    <h1 class="admin-title">
        Espace d'administration des clients
    </h1>
    <table class="table" style="text-align: center;">
        <thead class="bg-info">
          <tr>
            <th scope="col">N°</th>
            <th scope="col">Nom du client</th>
            <th scope="col">Email</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Département</th>
            <th scope="col">Voir</th>
            <th scope="col">Ajouter</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
          </tr>
        </thead>
        <tbody>
            <% for (const customer of customers){%>
          <tr>
            <th scope="row"><%= customer.id %></th>
            <td><%= customer.first_name %> <%= customer.last_name %></td>
            <td><%= customer.email %></td>
            <td><%= customer.phone_number %></td>
            <td><%= customer.department %></td>
            <td><a href="#" data-toggle="modal" data-target="#exampleModal" class="text-dark"><i class="far fa-eye" aria-hidden="true"></i></a></td>            
            <td><a href="/admin/add/customer" class="text-success"><i class="fa fa-plus-circle" aria-hidden="true"></i></a></td>
            <td><a href="/admin/edit/customer/<%= customer.id %>" class="text-warning"><i class="fas fa-edit"></i></a></td>
            <td><a href="/admin/delete/customer/<%= customer.id %>" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"><%= customer.first_name %> <%= customer.last_name %></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <ul class="list-group list-group-flush">
                    <!-- <li class="list-group-item" id="list-group-item">Prénom: <%= customer.first_name %></li>
                    <li class="list-group-item" id="list-group-item">Nom: <%= customer.last_name %></li> -->
                    <li class="list-group-item" id="list-group-item"><i class="fas fa-map-marker-alt"></i>Adresse: <%= customer.address %></li>
                    <li class="list-group-item" id="list-group-item"><i class="fas fa-map-pin"></i>Comlément d'adresse: <%= customer.additional_address %></li>
                    <li class="list-group-item" id="list-group-item"><i class="fas fa-compass"></i>Code postal: <%= customer.postcode %></li>
                    <li class="list-group-item" id="list-group-item"><i class="fas fa-map-signs"></i>N° de Département: <%= customer.department %></li>
                    <li class="list-group-item" id="list-group-item"><i class="fas fa-city"></i>Ville: <%= customer.city %></li>
                    <li class="list-group-item" id="list-group-item"><i class="fas fa-phone"></i>Téléphone: <%= customer.phone_number %></li>
                    <li class="list-group-item" id="list-group-item"><i class="fas fa-envelope-open"></i>Email: <%= customer.email %></li>
            </ul>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-marine" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-blue">Modifier le client</button>
            </div>
        </div>
        </div>
    </div>
          </tr>
          <% } %>
          
        </tbody>
      </table>
    
</section>
<!-- end of right content zone -->
</main>
<%- include ("partials/footer") %>